.game_board_main {
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  justify-content: center;
}

.game_board_button_bar {
  margin: auto;
  width: 32vw;
}

.game_board_button_bar button {
  width: 50%;
  border: 2px black solid;
}
.game_board_button_bar button:nth-child(3) {
  width: 100%;
}
.game_board_button_bar button:nth-child(4) {
  width: 100%;
}
